.collapse{
    border-collapse: collapse; 
}

.t1{
    border:30px solid green;
    background-color: green;
    text-align: center;
    width: 50%;
}

.t2{
    border:30px solid red;
    background-color:red;
    text-align: center;
    width: 50%;
}
